contents/
pack/
staging/
geyser_resources.mcpack
geyser_mappings.json
pack.zip
*.pyc
__pycache__/
.commandcode/
$null
Java2Bedrock-main/
*.txt
armor_output.txt
armor_test_output.txt
"geyser_resources.mcpack.zip"  
